<div class="row">
  <h1 id="tableLabel">Clientes</h1>



  <p *ngIf="!clientes"><em>Loading...</em></p>

  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="clientes">
    <thead>
      <tr>
        <th>Cedula</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Teléfono</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">

        <td>{{ cliente.documentId }}</td>
        <td>{{ cliente.name }}</td>
        <td>{{ cliente.lastname }}</td>
        <td>{{ cliente.phone }}</td>
      </tr>
    </tbody>
  </table>
</div>
<h3 id="fORMLabel">Agregar Ciente</h3>
<div class="row">

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-row">

      <div class="form-group col-5">
        <label>Cedula</label>
        <input type="number" formControlName="documentId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.documentId.errors }" />
        <div *ngIf="submitted && f.documentId.errors" class="invalid-feedback">
          <div *ngIf="f.documentId.errors.required">La cédula es requerida</div>
        </div>
      </div>
      <div class="form-group col-5">
        <label>Nombre</label>
        <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">first name is required</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Apellido</label>
      <input type="text" formControlName="lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
      <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
        <div *ngIf="f.lastname.errors.required">Apellido is required</div>

      </div>
    </div>
    <div class="form-row">
      <div class="form-group col">
        <label>Teléfono</label>
        <input type="number" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
          <div *ngIf="f.phone.errors.required">El Teléfono es requerido</div>

        </div>
      </div>

    </div>
    <!--<div class="form-group form-check">
      <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
      <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
      <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
    </div>-->
    <div class="text-center">
      <button class="btn btn-outline-success mr-1">Guardar</button>

    </div>
  </form>
</div>
